/*Home Page Begin*/

#main-body
{
    padding: 4rem;
    height:750px;
    margin-top: -10px;

}

#main-body ul li
{
    line-height: 1.8rem;
}

.main-wrapper
{
   margin-top: -44px;
   border-radius: 25px;
   padding-right: 9.4% !important;
   padding-left:3% !important;
    padding-top: 4.2rem !important;
}

html body.fixed-navbar {
    padding-top: 1rem;
}
html body {
	background-color: #e0e0eb;
	overflow:hidden;
}


.fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    top: -51px;
    z-index: 1030;
}

.content {
	background-color: #e0e0eb;
	position : static !important;
}


.main-menu {
	height: 739px !important;
	margin-top: 30px;
	margin-left: -55px;
	overflow: hidden;
}
.avatar-sm {
    width: 50px !important;
}

.navbar-header {
	 height: 8rem !important;
}
.bell-shake {
	line-height: 0;
	font-size: 1.5em;
}
.badge-up {
  position: absolute;
  right: 6px;
  top: 12px;
} 
.main-menu * {
	#overflow: visible !important;
}
.navbar-header ul.navbar-nav {
    overflow: visible;
	width:100%;
}
.dropdown-menu-media {
	width: 24em;

}
.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
}
.navigation-inner{
	height: 20px;
	background-color: #acafaf;
	margin-top: -47px;
	
	 width: 87.7%; ;
	margin-left: 216px ;
}
.navigation-inner.content-wrapper-before,.navigation-inner.navbar-container {
	background-color: #acafaf !important;
	background-image: none !important;
}
 .navigation-inner.content-wrapper-before,.navigation-inner.navbar-container {
	background-color: #acafaf !important;
	background-image: none !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #259b24;
}
 
  .circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: -13px auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  
  transition: 0.2s;
  text-align: center;
  margin-left: 33px;
}
.wish-icon {
    background-color: #601DC2;
}
.add-icon {
	background-color: #EE421E;
	margin-left: 35px;
}

.circle:hover {
  cursor: pointer;
  background-color: #606fc7;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}
.circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.hidden-sub-trigger {
  display: none;
}
.hidden-sub-trigger:checked ~ label {
  background-color: #606fc7;
}

.hidden-trigger {
  display: none;
}


.toggle-wrapper {
  padding-top: 7px;
  margin-left: 20px;
  margin-top: -12px;
}

.toggle_radio{
  position: relative;
  background: rgba(0, 255, 128,.6);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 34px;
  width: 205px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 62px;
  height: 21px;
  margin: 6px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
 
}
.toggle_radio label p{
 font-size: 14px !important; 
}
.toggle_option_slider{
  width: 62px;
  height: 25px;
  position: absolute;
  top: 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.6);
  left: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.6);
  left: 70px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.6);
  left: 140px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.product-body {
   background-color: #e3e5e5;
    height: 670px;
    left: 10px;
    margin-left: 216px;
    overflow: scroll;
    position: absolute;
    width: 85.9%;
	top:20px;
}
.product-item .carousel-item img,.product-image {
	height: 163px;
	padding: 10px;
	width:100%;
}
.product-item {
	height: auto;
	border-color: #000;
}
.product-row {
	padding-top: 20px;
	/*margin-bottom: 70px;*/
}
/*.wish-border {
	-webkit-box-shadow: 7px 9px 30px 1px rgba(40,175,208,0.38);
	-moz-box-shadow: 7px 9px 30px 1px rgba(40,175,208,0.38);
	box-shadow: 7px 9px 30px 1px rgba(40,175,208,0.38) !important;
}*/

.ad-row {
  padding-top: 20px;
  margin-bottom: 53px;
  margin-left: 15px;
}


.product-row  .card-footer {
    padding: 0.5rem;
}
.product-row .card {
	margin-left: 31px;
    width: 89%;
    -webkit-box-shadow: 11px 13px 20px -8px rgba(188,193,194,1) !important;
-moz-box-shadow: 11px 13px 20px -8px rgba(188,193,194,1)!important;
box-shadow: 11px 13px 20px -8px rgba(188,193,194,1)!important;
     

}
.wishlist-row .card {
-moz-box-shadow: 0 0 3px 3px #601DC2 !important;
-webkit-box-shadow: 0 0 3px 3px#601DC2 !important;
box-shadow: 0 0 3px 3px #601DC2 !important;


}
.product-body-right{
	padding-left: 0px !important;
}
.product-place {
	font-size: .9em;
	margin-top: 1px;
}

.product-item .card-title {
    margin-bottom: 0.3rem;
}
.product-item .card-title .badge.badge-border {
    background-color: transparent;
    border-width: 1px !important;
    font-size: 60%;
}
.product-date{
 height: 1em;
 border-left: 1px solid #ccc;
 margin-left: 1px;
 padding-left: 2px;
 font-size: .9em;
}



.product-price {
	font-size: 30px;
	color: #000;
	float: left;
	margin-top: 10px;

}
.product-price .product-quantity {
	font-size: 15px;
	color: #A2A2C3;
	margin-top: 8px;

}



.product-item .card-footer {
	margin-top: 44px;
}

.cat-icon {
	#background: #fff none repeat scroll 0 0;
    border-radius: 12%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    padding: 2px;
}
.search-menu li {
	padding-right: 4px;
}
.search-box {
	padding-top: 15px !important;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .hover > a > img, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation:hover > a > img, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .open > a > img {
    box-shadow: 0 0 20px rgba(253, 99, 107, 0.3);
}

.cat-icon::before {
   width:1px;
}

 

  .main-menu.menu-light .navigation > li.open > a > img {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 red);
    #filter: opacity(.5) drop-shadow(0 0 0 red);
}

.navigation li {
	border-bottom: 1px solid #E8E9EE;
}

.logo-mob {
  display: none;
} 
@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .navigation-inner {
  	width: 100%;
  }
  #main-body{
  	width: 100%;
  }
  .navigation-inner{
  	 #background-color: #fff !important;
	   background-image: none !important;
	   width: 176%;
     #margin-top: 26px;
     margin-left: -57px;
  }
  .circle {  
    	position:fixed;
    	width:60px;
    	height:60px;
    	bottom:40px;
    	right:40px;
  }
  .header-navbar.navbar-with-menu .navbar-container {
	    background: 0;
	}
  .responsive {
    width: 100%;
    height: auto;
  }
  .product-body {
    margin-left: 0px;
     left: -41px;
    width: 146.9%;
    margin-bottom: 10px;
    margin-right:  2px;
  }


.product-item {
    height: 437px;
}
.product-row .card {
    margin-left: 0px;
    width: 100%;
}

#main-body
{
    padding: 4rem;
    height:100%;
    margin-top: -10px;

}

#main-body ul li
{
    line-height: 1.8rem;
}

  .main-wrapper
  {
     margin-top: -64px !important;
     border-radius: 25px !important;
     padding-right: 9.4% !important;
     padding-left:3% !important;
     padding-top: 10.2rem !important;
  }

  .product-row .card-footer {

      padding: 1.5rem;

  }
  .product-item {

    height: auto;

  }
  .product-row {

    padding-top: 3px;
      margin-bottom: -1px;

  }
    .product-image {

      height: auto;
      width: 100%;
      padding: 16px;

  }
    .notification-ui {

      margin-top: -160px !important;
      margin-right: -46px !important;

  }
  html body .content .content-wrapper .content-wrapper-before {
    height: 196px;
  }

  .header-navbar .navbar-container ul.nav li a.menu-toggle {

      margin-top: -96px;
      margin-left: -3px;

  }
  .toggle-wrapper {

    margin-top: 16px;

  }
  .vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
    left: -206px;
    width: 270px;
    top: 134px;
  }
  .main-menu .navbar-header {
    display: none !important;
  }
  .logo-mob {
    height: 65px;
    margin-left: -21px;
    margin-top: 10px;
    display: unset;
  }
}


.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}
.navbar-semi-light .navbar-nav > li {
    line-height: 0.9;
    z-index: 1;
}
.main-menu.menu-fixed {
 
    z-index: 1;
}

.price-div {
  #border-left: 1px solid #ccc;
  vertical-align: middle;
  line-height: 90px;  
}
.seller-details {
  width: 190px;
  padding: -6px;
  display: inline-block;
}
.seller-details span {
  margin-top: 1px;
}

.product-price-quick {
  font-size: 45px;
  color: #000;
  text-align: center;
  margin-left: 85px;
  }
.product-price-quick .product-quantity {
  font-size: 20px;
 #color: #A2A2C3;
  color: #000;
  margin-top: 8px;

}
.product-place-quick {
  font-size: 1em;
  margin-top: 1px;
  color: #6DBE14;
  margin-right: 13px;
  margin-left: 16px;
}
.distance-quick {
  margin-right: 10px;
  font-size: 75% !important;
}

.product-date-quick{
 height: 1em;
 border-left: 1px solid #ccc;
 margin-left: 10px;
 padding-left: 13px;
 font-size: 1em;
 color: #33C9FE;
}
.product-name {
  font-size: 2.74rem;
}

.quick-chat {
  margin-left: 41px;
}

.seller-details button {
  margin-right: .8rem !important;
  min-width: 6.5rem;
}

.header-navbar .navbar-container ul.nav li i.ficon {

    font-size: 1.2rem;

}
 
/* .header-navbar .nav-item + .nav-item {

    margin-left: -1rem;

}*/
.product-id-quick {
   height: 1em;
   border-left: 1px solid #ccc;
   margin-left: 30px;
   padding-left:10px;
   font-size: 1em;
   #color: #6B6F80;
   color: #33C9FE;
}

.quick-description {
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 16px;
  border-left: none;
}

.delivery-icon {
  font-size: 1.0rem;
  margin-right: 7px;
  color: #E91E63;
  font-weight: bold;

}
.modal-lg {

    max-width: 1142px;

}

.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 20px;
}
.images .img,
.images .pic {
  flex-basis: 31%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.images .img {
  width: 112px;
  height: 93px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.images .img:nth-child(3n) {
  margin-right: 0;
}
.images .img span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .img::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .img:hover::after {
  display: block;
  background-color: #000;
  opacity: .5;
}
.images .img:hover span {
  display: block;
  color: #fff;
}
.images .pic {
  background-color: #F5F7FA;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  .wrapper {
    margin-top: 0;
  }
  header {
    flex-direction: column;
  }
  header span {
    text-align: left;
    margin-top: 10px;
  }
  .ways li,
  section input, 
  section textarea,
  .select-option .head, 
  .select-option .option div {
   font-size: 8px;
  }
  .images .img,
  .images .pic {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.purple {
  color: #601DC2;
}

.border-purple {

  border: 1px solid #601DC2 !important;
  }

  .filter-btn {

    /*margin-left: -47px;
    margin-right: 9px;
    font-size: 1.8rem;
    margin-top: -5px;
    border-radius: 1.5rem;
    border-color: #fff;
    border: 1px solid;
    min-width: 3.5rem;
    padding-left: 10px;
    font-size: 1.7rem !important;*/
    margin-left: -47px;
    margin-right: 9px;
    font-size: 1.8rem;
    margin-top: -5px;
    border-radius: 1.5rem;
    border-color: #fff;
    border: aliceblue;
    min-width: 3.5rem;
    padding-left: 13px;
    font-size: 1.7rem !important;
    background: rgba(0, 255, 128,.6);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

}



/*Gallery*/

/* HIDE RADIO */
.img-radio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.img-radio + img {
  cursor: pointer;
  height: 84px;
  padding: 5px;
}

/* CHECKED STYLES */
.img-radio:checked + img {
  outline: 2px solid #f00;
}
.img-radio img {
  
}

.location-circle {
  display: block;
  position: relative;
  z-index: 98;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 50px;
  width: 50px;  
  transition: 0.2s;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
}
.location-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.location-text {
  #line-height: 4.45;
  color: #F47F75;
  #font-size: .9em;
  margin-left: 15px;
  margin-top: -16px;
}
.logo-div {

   /* height: 185px;
    margin-left: 11px;
    margin-top: 10px;*/
    
    border-bottom: 1px #D6D9D9;
    height: 14rem !important;
    background-color: #FDFDFD;
    box-shadow: 0 1px 26px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12) !important;


}
body.vertical-layout.vertical-menu.menu-expanded .main-menu {

    width: 271px;
    }

body.vertical-layout.vertical-menu.menu-expanded .navbar-header {
   width: 271px;
}
.location-div {
  #box-shadow: 0 2px 26px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  margin-bottom: : -10px;
  margin-left: 21px;

}
.distance {
    margin-left: 8px;
    font-size: .8em;
    color: #6b6f80;
}

.change {
    font-size: .8em;
    color: #42c2f4;
    margin-left: 138px;
}

@media only screen and (max-width:768px)
{
	.navbar-nav.notification-ui
	{
		width:225px;	
		margin-top:-140px !important;
	}
	.logo-mob
	{
		height:80px;
		margin-left:4px;
	}
	.mobile-menu.hidden-lg
{
	    position: absolute;
    top: 0;
    right: 24px;
}
}
.search-menu
{
	margin-top:1.5%;
}

.notification-ui form
{
	margin-top:5%;
}
.search-menu,.notification-ui
{
	width:50%;
}
@media only screen and (max-width:468px)
{
	.product-body-right
	{
		padding-left:28px !important;
	}
	.navbar-nav.notification-ui
	{
		position: absolute;
		top: -77px;
		right: 19%;	
		margin-top:0 !important;
	}
	.chat-application .sidebar-left
	{
		display:none;
	}
	.mega-dropdown-menu,.dropdown-menu 
	{
		background-color:#fff !important;
	}
	label.circle.add-icon {
    left: 0;
	margin-left:9px;
}
label.circle.wish-icon
{
	right:14px;
}
.notification-ui li:first-child form
{
	    position: fixed;
    bottom: 24px;
    z-index: 999;
    right: -11px;
}
.notification-ui li:first-child form input
{
	padding-left:0;
	padding-right:0;
}
}
.modal-body .seller-details .badge 
{
	display:inline-block;
	float:left;
}
.nav  a:focus, .nav  a:hover
{
	background-color:transparent !important;
}
.card-content.row {
    background-color: #fff;
    border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  .main-menu-content.ps-container.ps-theme-dark ul {
    overflow-y: scroll;
    height: 520px !important;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu
{
	z-index:999;
}
  .navigation-inner
  {
	  margin-left:0;
	  width:89.7%
  }
  .product-body
  {
	  margin-left:0;
  }
  .search-menu, .notification-ui
  {
	  width:100%;
	
  }
  
  .chat-fixed-search
  {
	  width:148px !important;
  }
  .chat-fixed-search input
  {
	  padding-right: 0;
    padding-left: 4px;
    width: 114px;
    margin-top: 7px;
  }
  body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 0;
}
.search-menu
{
	display:grid;
	grid-template-columns: auto auto auto auto;
}
.search-menu {
    margin-top: 12.5%;
}
.navbar-nav.notification-ui
  {
	    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
	margin-top:-99px !important;
	margin-left:0px;
  }
.navigation-inner
{
	height:88px;
}
.product-body
{
	top:43px;
}
.mobile-menu.hidden-lg
{
	margin-top: -35px;
	right: 54px;
	height:10px;
}
}
@media (max-width: 984px) and (min-width: 900px)
{
	.navbar-nav.notification-ui {
    margin-top: -107px !important;
    margin-left: 55px;
}
}
@media (max-width: 320px) and (min-width: 300px)
{
	.navbar-nav.notification-ui {
    position: absolute;
    top: -77px;
    right: 1%;
    margin-top: 0 !important;
}
.mobile-menu.hidden-lg {
    position: absolute;
    top: 0;
    right: -30px;
}
}
.tags.pull-right {
    text-align: right;
}
.tags
{
	margin-top:25px;
    width: 50%;
}